<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
    <a href= '/' id='home-buton'><button type="submit">Home</button></a>
    <p>Edit {{organisation.name}}<p>
  </header>
  <form action="/organisations/{{organisation.name}}/update" method="post">
    Organisation name: <input type="text" name="name" value='{{organisation.name}}' required><br>
    Git Folder: <input type="text" name="gitFolder" value='{{organisation.gitFolder}}' required><br>
    <input type="submit" value="Submit">
  </form>
  
</body>
</html>