<!DOCTYPE html>

<html>
<head>

  <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>

</head>
<body>
  <header>
    <p>New App<p>

  </header>
  <form action="/organisations/{{organisation.name}}/apps/create" method="post">
    Organisation: {{organisation.name}}
    <br>
    App Name: <input type="text" name="appName" required><br>
    <input type="hidden" name = "organisation" value = "{{organisation._id}}"/>
    
    <input type="submit" value="Submit">
  </form>

</body>
</html>