
  <div class="container cf">
    <div class="col col2">
      <div class="panel">
        <div class="head">
          <span class="label">New Organisation</span>
        </div>
        <div class="body">
          <form action="/organisations/create" method="POST">
            Name: <input type="text" name="name" required><br>
            Git Folder: <input type="text" name="gitFolder" required><br>
            <input type="submit" value="Submit">
          </form>
        </div>
      </div>
    </div>
  </div>
