<!DOCTYPE html>

<html>
<head>

    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
    <a href= '/' id='home-buton'><button type="submit">Home</button></a>
    <p>New User<p>
  </header>
  <form action="/users/create" method="post">
    Name: <input type="text" name="name" required><br>
    Password: <input type="password" name="password" required><br>
    Organisation: {{#addOrgDropDown organisations}}{{name}}{{/addOrgDropDown}}<br>
    Email Address: <input type="text" name="emailAddress" required><br>

    <input type="submit" value="Submit">
  </form>

</body>
</html>