<!DOCTYPE html>

<html>
<head>

    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
    <a href= '/' id='home-buton'><button type="submit">Home</button></a>    
    <p>New Organisation<p>
  </header>
  <form action="/organisations/create" method="post">
    Name: <input type="text" name="name" required><br>
    Git Folder: <input type="text" name="gitFolder" required><br>
    <input type="submit" value="Submit">
  </form>

</body>
</html>