<!DOCTYPE html>

<html>
<head>  
<link rel="stylesheet" type="text/css" href="/css/normalize.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
    <a href= '/' id='home-buton'><button type="submit">Home</button></a>
    <p>Welcome<p>
  </header>
  <div class = 'organisations'>
  <a href= '/organisations/new'><button type="submit" formmethod="get">New Organisation</button></a>
    <p> Existing organisations: </p>
    {{#organisationsList organisations}}Name: {{name}} {{/organisationsList}}<br>
     
  </div>
  <div class = 'users'>
  <a href= '/users/new'><button type="submit" formmethod="get">New User</button></a>
    <p> Existing users: </p>
    {{#usersList users}}{{name}}{{/usersList}}<nr>
     
  </div>
  
  
</body>
</html>
