<!DOCTYPE html>

<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <header>
    <p>Welcome<p>
  </header>
  <div class = 'organisations'>
    <p> Existing organisations: </p>
    {{#organisationsList organisations}}Name: {{name}} {{/organisationsList}}
  </div>
  <div class = 'users'>
    <p> Existing users: </p>
    {{#usersList users}}{{_id}} {{organisations}} {{emailAddresses}} {{/usersList}}
  </div>
  
  
</body>
</html>
